charger.json
[
    {
        "id": "37c99bfe.954034",
        "type": "tab",
        "label": "NiMH Battery Charger",
        "disabled": false,
        "info": ""
    },
    {
        "id": "761c9f09.692fa",
        "type": "modbus-client",
        "z": "",
        "name": "RD6006",
        "clienttype": "simpleser",
        "bufferCommands": false,
        "stateLogEnabled": false,
        "tcpHost": "127.0.0.1",
        "tcpPort": "14502",
        "tcpType": "DEFAULT",
        "serialPort": "COM10",
        "serialType": "RTU-BUFFERD",
        "serialBaudrate": "115200",
        "serialDatabits": "8",
        "serialStopbits": "1",
        "serialParity": "none",
        "serialConnectionDelay": "100",
        "unit_id": "1",
        "commandDelay": "1",
        "clientTimeout": "3000",
        "reconnectOnTimeout": true,
        "reconnectTimeout": "6000",
        "parallelUnitIdsAllowed": false
    },
    {
        "id": "964415af.8c1f38",
        "type": "ui_group",
        "z": "",
        "name": "rtdata",
        "tab": "85729fc8.609c1",
        "order": 1,
        "disp": false,
        "width": "8"
    },
    {
        "id": "ea214415.095c28",
        "type": "ui_group",
        "z": "",
        "name": "main",
        "tab": "85729fc8.609c1",
        "order": 3,
        "disp": false,
        "width": "8"
    },
    {
        "id": "12ec64dd.ff2a6b",
        "type": "ui_group",
        "z": "",
        "name": "Group 2",
        "tab": "85729fc8.609c1",
        "order": 2,
        "disp": false,
        "width": "8"
    },
    {
        "id": "746dcf19.ccb99",
        "type": "MySQLdatabase",
        "z": "",
        "host": "127.0.0.1",
        "port": "3306",
        "db": "batteries",
        "tz": "+1"
    },
    {
        "id": "85729fc8.609c1",
        "type": "ui_tab",
        "z": "",
        "name": "NiMH charger",
        "icon": "dashboard",
        "order": 3
    },
    {
        "id": "1fbb4390.93f3ec",
        "type": "ui_base",
        "theme": {
            "name": "theme-light",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": false,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
            },
            "themeState": {
                "base-color": {
                    "default": "#0094CE",
                    "value": "#0094CE",
                    "edited": false
                },
                "page-titlebar-backgroundColor": {
                    "value": "#0094CE",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#fafafa",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#1bbfff",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#111111",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#0094ce",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey"
            }
        },
        "site": {
            "name": "Node-RED Dashboard",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "lockMenu": "false",
            "allowTempTheme": "true",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "4ecbf380.5aea1c",
        "type": "config",
        "z": "37c99bfe.954034",
        "name": "SLOW config",
        "properties": [
            {
                "p": "vset",
                "pt": "flow",
                "to": "147",
                "tot": "num"
            },
            {
                "p": "tmax",
                "pt": "flow",
                "to": "40",
                "tot": "num"
            },
            {
                "p": "smart",
                "pt": "flow",
                "to": "0",
                "tot": "num"
            },
            {
                "p": "timemax",
                "pt": "flow",
                "to": "14400",
                "tot": "num"
            }
        ],
        "active": true,
        "x": 550,
        "y": 80,
        "wires": []
    },
    {
        "id": "8012b697.d76d08",
        "type": "inject",
        "z": "37c99bfe.954034",
        "name": "Polling data",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "2",
        "crontab": "",
        "once": true,
        "onceDelay": "1",
        "x": 130,
        "y": 300,
        "wires": [
            [
                "f0b7984.95aac68"
            ]
        ]
    },
    {
        "id": "f0b7984.95aac68",
        "type": "function",
        "z": "37c99bfe.954034",
        "name": "FC3: get RT registers B",
        "func": "msg.payload = { 'fc': 3, 'unitid': 1, 'address':8, 'quantity': 11 }\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 370,
        "y": 360,
        "wires": [
            [
                "4782a591.eed76c"
            ]
        ]
    },
    {
        "id": "4782a591.eed76c",
        "type": "modbus-flex-getter",
        "z": "37c99bfe.954034",
        "name": "",
        "showStatusActivities": false,
        "showErrors": false,
        "logIOActivities": false,
        "server": "761c9f09.692fa",
        "useIOFile": false,
        "ioFile": "",
        "useIOForPayload": false,
        "x": 610,
        "y": 360,
        "wires": [
            [
                "d5170b3b.68cfe8"
            ],
            [
                "47722dac.8822c4"
            ]
        ]
    },
    {
        "id": "d5170b3b.68cfe8",
        "type": "function",
        "z": "37c99bfe.954034",
        "name": "Save RT data",
        "func": "flow.set(\"abatt\", msg.payload[3]/1000);\nvar e = flow.get(\"error\");\nflow.set(\"error\", (e | msg.payload[8]));\nflow.set(\"onoff\", msg.payload[10]);\n",
        "outputs": 0,
        "noerr": 0,
        "x": 840,
        "y": 340,
        "wires": []
    },
    {
        "id": "47722dac.8822c4",
        "type": "function",
        "z": "37c99bfe.954034",
        "name": "FC3: get RT registers A",
        "func": "msg.payload = { 'fc': 3, 'unitid': 1, 'address':32, 'quantity': 8 }\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 370,
        "y": 260,
        "wires": [
            [
                "6351ffe3.05cea"
            ]
        ]
    },
    {
        "id": "6351ffe3.05cea",
        "type": "modbus-flex-getter",
        "z": "37c99bfe.954034",
        "name": "",
        "showStatusActivities": false,
        "showErrors": false,
        "logIOActivities": false,
        "server": "761c9f09.692fa",
        "useIOFile": false,
        "ioFile": "",
        "useIOForPayload": false,
        "x": 610,
        "y": 260,
        "wires": [
            [
                "ffd075b7.e79b68"
            ],
            []
        ]
    },
    {
        "id": "ffd075b7.e79b68",
        "type": "function",
        "z": "37c99bfe.954034",
        "name": "Save RT data",
        "func": "flow.set(\"bmode\", msg.payload[0]);\nvar vbx = 0;\nif ( flow.get(\"smart\") === 0){\n vbx = msg.payload[1];\n}\nelse {\n vbx =  msg.payload[1] - (flow.get(\"abatt\")*flow.get(\"ri\"))/10;\n}      \nflow.set(\"vbatt\", vbx/100);\nflow.set(\"tbatt\", msg.payload[3]);\nvar tmp =(msg.payload[6]*65536 + msg.payload[7])/1000;\nflow.set(\"ahbatt\", tmp - flow.get(\"startah\"));\n\nmsg.payload = [\"vb, v, ri, O\", msg.payload[1], vbx, flow.get(\"ri\"), flow.get(\"abatt\")   ];\nreturn msg; ",
        "outputs": 1,
        "noerr": 0,
        "x": 840,
        "y": 240,
        "wires": [
            []
        ]
    },
    {
        "id": "52f9259d.9eca3c",
        "type": "function",
        "z": "37c99bfe.954034",
        "name": "Format RT data",
        "func": "var tmp =flow.get(\"vbatt\");\nvar msg1 = { payload: tmp.toFixed(2), topic: ' V'};\nvar tmp =flow.get(\"abatt\");\nvar msg2 = { payload: tmp.toFixed(3), topic: ' A'};\nvar tmp =flow.get(\"ahbatt\");\nvar msg3 = { payload: tmp.toFixed(3), topic: ' Ah'};\nvar msg4 = { payload: flow.get(\"tbatt\"), topic: ' °C'};\nreturn ([msg1, msg2, msg3, msg4]);\n",
        "outputs": 4,
        "noerr": 0,
        "x": 540,
        "y": 520,
        "wires": [
            [
                "5f3f8b92.792324"
            ],
            [
                "e48b5c93.60291"
            ],
            [
                "4f52b1f2.f1d54"
            ],
            [
                "d88140e6.d96fb"
            ]
        ]
    },
    {
        "id": "e48b5c93.60291",
        "type": "ui_text",
        "z": "37c99bfe.954034",
        "group": "964415af.8c1f38",
        "order": 3,
        "width": "4",
        "height": "1",
        "name": "I",
        "label": "",
        "format": "<font color =PALETURQUOISE size=6>{{msg.payload}} {{msg.topic}}</font>",
        "layout": "row-right",
        "x": 890,
        "y": 520,
        "wires": []
    },
    {
        "id": "4f52b1f2.f1d54",
        "type": "ui_text",
        "z": "37c99bfe.954034",
        "group": "964415af.8c1f38",
        "order": 2,
        "width": "4",
        "height": "1",
        "name": "Ah",
        "label": "",
        "format": "<font color =KHAKI size=6>{{msg.payload}} {{msg.topic}}</font>",
        "layout": "row-right",
        "x": 890,
        "y": 560,
        "wires": []
    },
    {
        "id": "d88140e6.d96fb",
        "type": "ui_text",
        "z": "37c99bfe.954034",
        "group": "964415af.8c1f38",
        "order": 4,
        "width": "4",
        "height": "1",
        "name": "T",
        "label": "",
        "format": "<font color =PINK size=6>{{msg.payload}} {{msg.topic}}</font>",
        "layout": "row-right",
        "x": 890,
        "y": 600,
        "wires": []
    },
    {
        "id": "5f3f8b92.792324",
        "type": "ui_text",
        "z": "37c99bfe.954034",
        "group": "964415af.8c1f38",
        "order": 1,
        "width": "4",
        "height": "1",
        "name": "V",
        "label": "",
        "format": "<font color =LAWNGREEN size=6>{{msg.payload}} {{msg.topic}}</font>",
        "layout": "row-right",
        "x": 890,
        "y": 480,
        "wires": []
    },
    {
        "id": "f3ec11d1.d7145",
        "type": "comment",
        "z": "37c99bfe.954034",
        "name": "Loop RT data read",
        "info": "gets RT data from RD6006 and store it in following\nflow variables:\nvbatt  - for Vout\nabatt  - for Iout\ntbatt  - for Temperature\nahbatt - for Ah capacity\nerror  - for errorcode\nonoff  - for out switch ",
        "x": 110,
        "y": 220,
        "wires": []
    },
    {
        "id": "586c43c9.192ecc",
        "type": "inject",
        "z": "37c99bfe.954034",
        "name": "GUI refresh",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "3",
        "crontab": "",
        "once": true,
        "onceDelay": "2.8",
        "x": 130,
        "y": 540,
        "wires": [
            [
                "52f9259d.9eca3c",
                "a45678d0.af0fa8",
                "437ab2ba.4e4a8c",
                "920f96f6.c81538"
            ]
        ]
    },
    {
        "id": "5bc231e1.28aa2",
        "type": "ui_chart",
        "z": "37c99bfe.954034",
        "name": "charge chart",
        "group": "ea214415.095c28",
        "order": 5,
        "width": "8",
        "height": "5",
        "label": "NiMH Battery charge ",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm",
        "interpolate": "linear",
        "nodata": "waiting start",
        "dot": false,
        "ymin": "0",
        "ymax": "5",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "colors": [
            "#80ff00",
            "#aec7e8",
            "#e1e100",
            "#ff80ff",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "useOldStyle": false,
        "outputs": 1,
        "x": 870,
        "y": 660,
        "wires": [
            []
        ],
        "inputLabels": [
            "4"
        ]
    },
    {
        "id": "1c22743f.fbed2c",
        "type": "inject",
        "z": "37c99bfe.954034",
        "name": "manual reset chart",
        "topic": "",
        "payload": "0",
        "payloadType": "num",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": "0.2",
        "x": 410,
        "y": 700,
        "wires": [
            [
                "f83e137f.c4ac9"
            ]
        ]
    },
    {
        "id": "f83e137f.c4ac9",
        "type": "function",
        "z": "37c99bfe.954034",
        "name": "reset chart msg",
        "func": "msg.payload = [];\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 680,
        "y": 720,
        "wires": [
            [
                "5bc231e1.28aa2"
            ]
        ]
    },
    {
        "id": "3f13f9b6.e0c586",
        "type": "ui_button",
        "z": "37c99bfe.954034",
        "name": "",
        "group": "12ec64dd.ff2a6b",
        "order": 2,
        "width": "3",
        "height": "2",
        "passthru": false,
        "label": "{{msg.topic}}",
        "tooltip": "",
        "color": "",
        "bgcolor": "{{msg.background}}",
        "icon": "",
        "payload": "click",
        "payloadType": "str",
        "topic": "",
        "x": 450,
        "y": 800,
        "wires": [
            [
                "b8a82d99.2938e"
            ]
        ]
    },
    {
        "id": "28a3fbdf.f44114",
        "type": "ui_text_input",
        "z": "37c99bfe.954034",
        "name": "",
        "label": "Capacity",
        "tooltip": "",
        "group": "12ec64dd.ff2a6b",
        "order": 3,
        "width": "2",
        "height": "1",
        "passthru": true,
        "mode": "number",
        "delay": "0",
        "topic": "",
        "x": 260,
        "y": 960,
        "wires": [
            [
                "441c91d3.1e29f"
            ]
        ]
    },
    {
        "id": "36b54642.d3eaaa",
        "type": "ui_text_input",
        "z": "37c99bfe.954034",
        "name": "",
        "label": "Battery type",
        "tooltip": "infos about the battery",
        "group": "12ec64dd.ff2a6b",
        "order": 1,
        "width": "5",
        "height": "1",
        "passthru": false,
        "mode": "text",
        "delay": "0",
        "topic": "",
        "x": 270,
        "y": 1080,
        "wires": [
            [
                "73ae9fb.327326"
            ]
        ]
    },
    {
        "id": "f0c6c1dd.b01fc",
        "type": "ui_dropdown",
        "z": "37c99bfe.954034",
        "name": "",
        "label": "Iset",
        "tooltip": "",
        "place": "Select option",
        "group": "12ec64dd.ff2a6b",
        "order": 4,
        "width": "3",
        "height": "1",
        "passthru": true,
        "options": [
            {
                "label": "0.1 C",
                "value": 0.1,
                "type": "num"
            },
            {
                "label": "0.2 C",
                "value": "0.2",
                "type": "str"
            },
            {
                "label": "0.5 C",
                "value": "0.5",
                "type": "str"
            },
            {
                "label": "0.8 C",
                "value": "0.8",
                "type": "str"
            },
            {
                "label": "1.0 C",
                "value": "1",
                "type": "str"
            },
            {
                "label": "1,1 C",
                "value": "1.1",
                "type": "str"
            },
            {
                "label": "1,2 C",
                "value": "1,2",
                "type": "str"
            }
        ],
        "payload": "",
        "topic": "",
        "x": 250,
        "y": 1020,
        "wires": [
            [
                "d5bd380e.affbf8"
            ]
        ]
    },
    {
        "id": "841e2685.576608",
        "type": "comment",
        "z": "37c99bfe.954034",
        "name": "NiMH Battery Charger",
        "info": "This ***node-red*** application uses **RD6006** to get a full feauturd NiMH battery charger.\n\nThe input data are the *battery capacity* [mAh] and the required max *charge current*, as function of the capacity.\nThe measured data are:\n\n- Battery tension \n- Battery current\n- Battery temperature\n- Battery charge\n- Elapsed time\n\nOn screen, are shoved data in numeric format and as graph.\nThe charge is done to constant current from 0.1C to 1.2C, user defined.\nThe end of charge is triggered by one of following events:\n\n- Max charge exceeded\n- Max time exceeded\n- Max temperature exceeded\n- Max tension top reached \n\nAll data are also stored in a mySQL database.",
        "x": 120,
        "y": 40,
        "wires": []
    },
    {
        "id": "b8a82d99.2938e",
        "type": "function",
        "z": "37c99bfe.954034",
        "name": "toggle",
        "func": "if (( msg.payload == \"click\") && (flow.get(\"run\")) == 0){\n    flow.set(\"run\",1) ;\n    msg.payload = 1;\n    return msg;\n} \nflow.set(\"run\", 0) ;\nmsg.payload = 0;\nif (flow.get(\"error\") == 0) {\n    flow.set(\"error\", 128) ;\n    }\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "x": 270,
        "y": 880,
        "wires": [
            [
                "96e31c2b.742ce",
                "437ab2ba.4e4a8c"
            ]
        ]
    },
    {
        "id": "3bcef80f.b60bc8",
        "type": "inject",
        "z": "37c99bfe.954034",
        "name": "",
        "topic": "",
        "payload": "FAST",
        "payloadType": "str",
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": "0.32",
        "x": 130,
        "y": 100,
        "wires": [
            [
                "73277a19.fd1b64"
            ]
        ]
    },
    {
        "id": "96e31c2b.742ce",
        "type": "switch",
        "z": "37c99bfe.954034",
        "name": "start / stop msg",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "1",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "0",
                "vt": "num"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 2,
        "x": 440,
        "y": 900,
        "wires": [
            [
                "f83e137f.c4ac9",
                "ab7de378.96101",
                "d12527d2.c651a8"
            ],
            [
                "379f5516.4b64da"
            ]
        ]
    },
    {
        "id": "441c91d3.1e29f",
        "type": "function",
        "z": "37c99bfe.954034",
        "name": "store",
        "func": "flow.set(\"bcap\", msg.payload);\nvar tmp =(msg.payload * flow.get(\"icap\"));\nflow.set(\"iset\", tmp);\nmsg.payload =  tmp ;\n",
        "outputs": 0,
        "noerr": 0,
        "x": 450,
        "y": 960,
        "wires": []
    },
    {
        "id": "d5bd380e.affbf8",
        "type": "function",
        "z": "37c99bfe.954034",
        "name": "store",
        "func": "flow.set(\"icap\", msg.payload);\nvar tmp =(msg.payload * flow.get(\"bcap\"));\nflow.set(\"iset\", tmp);\nmsg.payload =  tmp;\n",
        "outputs": 0,
        "noerr": 0,
        "x": 450,
        "y": 1020,
        "wires": []
    },
    {
        "id": "4c0077bb.f72c88",
        "type": "comment",
        "z": "37c99bfe.954034",
        "name": "loop GUI refresh",
        "info": "1- updates values on screen\n2- updates chart (only running)\n3- formats status line",
        "x": 100,
        "y": 460,
        "wires": []
    },
    {
        "id": "5b5d5986.655898",
        "type": "comment",
        "z": "37c99bfe.954034",
        "name": "GUI user commands",
        "info": "1- executes START/STOP comands\n2- stores user values on flow variables",
        "x": 110,
        "y": 740,
        "wires": []
    },
    {
        "id": "ab7de378.96101",
        "type": "function",
        "z": "37c99bfe.954034",
        "name": "reset start time, error",
        "func": "var tmp = Date.now();\nflow.set(\"starttime\", tmp);\nmsg.payload = tmp;\nflow.set(\"csec\",0);\nflow.set(\"cmin\",0);\nflow.set(\"error\",0);\n",
        "outputs": 0,
        "noerr": 0,
        "x": 760,
        "y": 840,
        "wires": []
    },
    {
        "id": "425f1365.bd442c",
        "type": "function",
        "z": "37c99bfe.954034",
        "name": "runtime clock",
        "func": "\nvar esec = ((Date.now() - flow.get(\"starttime\"))/1000);\nif (flow.get(\"run\") === 0){\n    esec = flow.get(\"esect\");\n}\n    var tmin = (esec/60).toFixed(0);\n    var tsec = (esec % 60).toFixed(0);\n    flow.set(\"esect\", esec);\n    flow.set(\"cmin\", tmin);\n    flow.set(\"csec\", tsec);\n",
        "outputs": 0,
        "noerr": 0,
        "x": 330,
        "y": 160,
        "wires": []
    },
    {
        "id": "920f96f6.c81538",
        "type": "function",
        "z": "37c99bfe.954034",
        "name": "status message",
        "func": "var messg = flow.get(\"cmin\") + \":\"+ flow.get(\"csec\");\nmessg += ' / '+(flow.get(\"timemax\")/60).toFixed(0);\nmessg += ':'+(flow.get(\"timemax\") % 60).toFixed(0);\nif (flow.get(\"run\")===0)\n messg += ' stopped';\nelse\n   messg += ' running';\nif ((flow.get(\"error\") & 1) == 1)\n   messg += ' OVP';\nif ((flow.get(\"error\") & 2) == 2)\n   messg += ' OCP';\nif ((flow.get(\"error\") & 4) == 4)\n   messg += ' by RD6006';\nif ((flow.get(\"error\") & 8) == 8)\n   messg += ' max Charge';\nif ((flow.get(\"error\") & 16) == 16)\n   messg += ' max Time';\nif ((flow.get(\"error\") & 32) == 32)\n   messg += ' max Temperature';\nif ((flow.get(\"error\") & 64) == 64)\n   messg += ' pic V';\nif ((flow.get(\"error\") & 128) == 128)\n   messg += ' by user';\nmsg.payload = messg;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 540,
        "y": 440,
        "wires": [
            [
                "5e703b1c.e33cc4"
            ]
        ]
    },
    {
        "id": "5e703b1c.e33cc4",
        "type": "ui_template",
        "z": "37c99bfe.954034",
        "group": "964415af.8c1f38",
        "name": "status line",
        "order": 5,
        "width": 0,
        "height": 0,
        "format": "<div style = \"border: medium solid #1E90FF;\n border-radius:10px; padding-left:8px; padding-bottom:6px\" ng-bind-html=\"msg.payload\"></div>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "templateScope": "local",
        "x": 880,
        "y": 440,
        "wires": [
            []
        ]
    },
    {
        "id": "a45678d0.af0fa8",
        "type": "function",
        "z": "37c99bfe.954034",
        "name": "Format chart data",
        "func": "if (flow.get(\"run\")== 1){\nvar msg1 = { payload: flow.get(\"vbatt\").toFixed(2), topic: ' V'};\nvar msg2 = { payload: flow.get(\"abatt\").toFixed(3), topic: ' A'};\nvar msg3 = { payload: flow.get(\"ahbatt\").toFixed(3), topic: ' Ah'};\nvar msg4 = { payload: flow.get(\"tbatt\")/10, topic: ' °C'};\nreturn([msg1, msg2, msg3, msg4]);\n}\nelse {\n   return([]); \n}\n// return ([msg1, msg2, msg3, msg4]);",
        "outputs": 4,
        "noerr": 0,
        "x": 550,
        "y": 600,
        "wires": [
            [
                "5bc231e1.28aa2"
            ],
            [
                "5bc231e1.28aa2"
            ],
            [
                "5bc231e1.28aa2"
            ],
            [
                "5bc231e1.28aa2"
            ]
        ]
    },
    {
        "id": "73ae9fb.327326",
        "type": "function",
        "z": "37c99bfe.954034",
        "name": "store",
        "func": "flow.set(\"btype\", msg.payload);\n",
        "outputs": 0,
        "noerr": 0,
        "x": 450,
        "y": 1080,
        "wires": []
    },
    {
        "id": "c5a29ecd.d71a",
        "type": "comment",
        "z": "37c99bfe.954034",
        "name": "Test ends charge",
        "info": "Polling for end charge conditions",
        "x": 100,
        "y": 1600,
        "wires": []
    },
    {
        "id": "fdcc1e7e.aa444",
        "type": "modbus-flex-write",
        "z": "37c99bfe.954034",
        "name": "",
        "showStatusActivities": false,
        "showErrors": false,
        "server": "761c9f09.692fa",
        "x": 1010,
        "y": 920,
        "wires": [
            [],
            [
                "89f19daf.2a557"
            ]
        ]
    },
    {
        "id": "d12527d2.c651a8",
        "type": "function",
        "z": "37c99bfe.954034",
        "name": "FC16: writes Vset Iset",
        "func": "msg.payload = { 'value' : [flow.get('vset'), flow.get('iset') ], 'fc': 16, 'unitid': 1, 'address': 8, 'quantity': 2 };\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 760,
        "y": 920,
        "wires": [
            [
                "fdcc1e7e.aa444"
            ]
        ]
    },
    {
        "id": "95738373.9fe5b",
        "type": "modbus-flex-write",
        "z": "37c99bfe.954034",
        "name": "",
        "showStatusActivities": false,
        "showErrors": false,
        "server": "761c9f09.692fa",
        "x": 1010,
        "y": 1040,
        "wires": [
            [],
            [
                "384e41c5.e19fae"
            ]
        ]
    },
    {
        "id": "282d0ad9.ceebd6",
        "type": "function",
        "z": "37c99bfe.954034",
        "name": "FC 6:  set OUT ON",
        "func": "msg.payload = { 'value': 1, 'fc': 6, 'unitid': 1, 'address': 18 , 'quantity': 1 };\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 750,
        "y": 1040,
        "wires": [
            [
                "95738373.9fe5b"
            ]
        ]
    },
    {
        "id": "379f5516.4b64da",
        "type": "function",
        "z": "37c99bfe.954034",
        "name": "FC 6:  set OUT OFF",
        "func": "msg.payload = { 'value': 0, 'fc': 6, 'unitid': 1, 'address': 18 , 'quantity': 1 };\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 710,
        "y": 1600,
        "wires": [
            [
                "e8545db4.8b44"
            ]
        ]
    },
    {
        "id": "437ab2ba.4e4a8c",
        "type": "function",
        "z": "37c99bfe.954034",
        "name": "button look",
        "func": "if (flow.get(\"run\") ==1) {\n    msg.background =\"TURQUOISE\";\n    msg.topic = \"STOP\";\n} else {\n    msg.background =\"LIME\";\n    msg.topic = \"START\";\n}\nmsg.enabled = flow.get(\"bmode\");\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 290,
        "y": 800,
        "wires": [
            [
                "3f13f9b6.e0c586"
            ]
        ]
    },
    {
        "id": "21b918ab.97d1a8",
        "type": "inject",
        "z": "37c99bfe.954034",
        "name": "test polling",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "3.38",
        "crontab": "",
        "once": true,
        "onceDelay": "4",
        "x": 150,
        "y": 1680,
        "wires": [
            [
                "e603c109.9ab12"
            ]
        ]
    },
    {
        "id": "e603c109.9ab12",
        "type": "function",
        "z": "37c99bfe.954034",
        "name": "test error conditions",
        "func": "var errors = 0;\nif (flow.get(\"run\")==1) {\n     errors = flow.get(\"error\");\n     if (flow.get(\"onoff\") === 0) \n        errors |= 4;\n    // if (flow.get(\"bmode\") === 0) \n    //    errors |= 4;\n     if (flow.get(\"ahbatt\") > flow.get(\"bcap\")) \n        errors |= 8;\n     if (flow.get(\"esect\") > flow.get(\"timemax\"))  \n        errors |= 16;\n     if (flow.get(\"tbatt\") > flow.get(\"tmax\"))  \n        errors |= 32;\n     var xv = flow.get(\"vbatt\");\n     if (xv >= flow.get(\"vpic\")){\n          flow.set(\"vpic\", vx);\n          flow.set(\"picn\", 0); \n          } else {\n          var pn =  flow.get(\"picn\");\n          if(pn > 3){\n                errors |= 64;\n              } else {\n                flow.set(\"picn\", +pn);   \n              }\n           } \n    flow.set(\"error\", errors);   \n    }\nmsg.payload = errors;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 370,
        "y": 1680,
        "wires": [
            [
                "83854c88.fc684"
            ]
        ]
    },
    {
        "id": "83854c88.fc684",
        "type": "switch",
        "z": "37c99bfe.954034",
        "name": "if any error",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "0",
                "vt": "num"
            },
            {
                "t": "gt",
                "v": "0",
                "vt": "num"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 2,
        "x": 570,
        "y": 1680,
        "wires": [
            [],
            [
                "a5ee2e0.a65c8d"
            ]
        ]
    },
    {
        "id": "a5ee2e0.a65c8d",
        "type": "function",
        "z": "37c99bfe.954034",
        "name": "RUN OFF",
        "func": "flow.set(\"run\", 0);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 500,
        "y": 1600,
        "wires": [
            [
                "379f5516.4b64da"
            ]
        ]
    },
    {
        "id": "54f573bb.083c8c",
        "type": "status",
        "z": "37c99bfe.954034",
        "name": "",
        "scope": null,
        "x": 120,
        "y": 1760,
        "wires": [
            []
        ]
    },
    {
        "id": "89f19daf.2a557",
        "type": "function",
        "z": "37c99bfe.954034",
        "name": "FC3: get ah ",
        "func": "msg.payload = { 'fc': 3, 'unitid': 1, 'address':38, 'quantity': 2 }\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 730,
        "y": 980,
        "wires": [
            [
                "8389e4bd.973e28"
            ]
        ]
    },
    {
        "id": "8389e4bd.973e28",
        "type": "modbus-flex-getter",
        "z": "37c99bfe.954034",
        "name": "",
        "showStatusActivities": false,
        "showErrors": false,
        "logIOActivities": false,
        "server": "761c9f09.692fa",
        "useIOFile": false,
        "ioFile": "",
        "useIOForPayload": false,
        "x": 1010,
        "y": 980,
        "wires": [
            [
                "697484c6.b07d0c"
            ],
            [
                "282d0ad9.ceebd6"
            ]
        ]
    },
    {
        "id": "697484c6.b07d0c",
        "type": "function",
        "z": "37c99bfe.954034",
        "name": "set ah offset",
        "func": "var tmp =(msg.payload[0]*65536 + msg.payload[1])/1000;\nflow.set(\"startah\", tmp);\n\n",
        "outputs": 0,
        "noerr": 0,
        "x": 1230,
        "y": 980,
        "wires": []
    },
    {
        "id": "b3b65eb2.e2e0f",
        "type": "modbus-flex-write",
        "z": "37c99bfe.954034",
        "name": "",
        "showStatusActivities": false,
        "showErrors": false,
        "server": "761c9f09.692fa",
        "x": 1010,
        "y": 1100,
        "wires": [
            [],
            [
                "cbf54e80.4e32b"
            ]
        ]
    },
    {
        "id": "384e41c5.e19fae",
        "type": "function",
        "z": "37c99bfe.954034",
        "name": "FC 6:  set  Iout1",
        "func": "msg.payload = { 'value': 100, 'fc': 6, 'unitid': 1, 'address': 9 , 'quantity': 1 };\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 740,
        "y": 1100,
        "wires": [
            [
                "b3b65eb2.e2e0f"
            ]
        ]
    },
    {
        "id": "cbf54e80.4e32b",
        "type": "delay",
        "z": "37c99bfe.954034",
        "name": "",
        "pauseType": "delay",
        "timeout": "5",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "x": 1220,
        "y": 1100,
        "wires": [
            [
                "7ae5d713.425d98"
            ]
        ]
    },
    {
        "id": "7ae5d713.425d98",
        "type": "function",
        "z": "37c99bfe.954034",
        "name": "FC3: get Vbatt1",
        "func": "msg.payload = { 'fc': 3, 'unitid': 1, 'address':33, 'quantity': 1 }\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 740,
        "y": 1160,
        "wires": [
            [
                "137e4f45.c99e31"
            ]
        ]
    },
    {
        "id": "137e4f45.c99e31",
        "type": "modbus-flex-getter",
        "z": "37c99bfe.954034",
        "name": "",
        "showStatusActivities": false,
        "showErrors": false,
        "logIOActivities": false,
        "server": "761c9f09.692fa",
        "useIOFile": false,
        "ioFile": "",
        "useIOForPayload": false,
        "x": 1010,
        "y": 1160,
        "wires": [
            [
                "c37f6d56.06042"
            ],
            [
                "19cf8a50.08e116"
            ]
        ]
    },
    {
        "id": "c37f6d56.06042",
        "type": "function",
        "z": "37c99bfe.954034",
        "name": "Save vbatt1",
        "func": "flow.set(\"vbatt1\", msg.payload[0]);\nreturn msg;\n",
        "outputs": 0,
        "noerr": 0,
        "x": 1230,
        "y": 1160,
        "wires": []
    },
    {
        "id": "fd21a05a.44b35",
        "type": "modbus-flex-write",
        "z": "37c99bfe.954034",
        "name": "",
        "showStatusActivities": false,
        "showErrors": false,
        "server": "761c9f09.692fa",
        "x": 1010,
        "y": 1220,
        "wires": [
            [],
            [
                "e0468209.716e5"
            ]
        ]
    },
    {
        "id": "19cf8a50.08e116",
        "type": "function",
        "z": "37c99bfe.954034",
        "name": "FC 6:  set  Iout2",
        "func": "msg.payload = { 'value': 300, 'fc': 6, 'unitid': 1, 'address': 9 , 'quantity': 1 };\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 740,
        "y": 1220,
        "wires": [
            [
                "fd21a05a.44b35"
            ]
        ]
    },
    {
        "id": "e0468209.716e5",
        "type": "delay",
        "z": "37c99bfe.954034",
        "name": "",
        "pauseType": "delay",
        "timeout": "5",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "x": 1220,
        "y": 1220,
        "wires": [
            [
                "c19c4870.68dd48"
            ]
        ]
    },
    {
        "id": "c19c4870.68dd48",
        "type": "function",
        "z": "37c99bfe.954034",
        "name": "FC3: get Vbatt2",
        "func": "msg.payload = { 'fc': 3, 'unitid': 1, 'address':33, 'quantity': 1 }\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 740,
        "y": 1280,
        "wires": [
            [
                "291edc12.5eee84"
            ]
        ]
    },
    {
        "id": "291edc12.5eee84",
        "type": "modbus-flex-getter",
        "z": "37c99bfe.954034",
        "name": "",
        "showStatusActivities": false,
        "showErrors": false,
        "logIOActivities": false,
        "server": "761c9f09.692fa",
        "useIOFile": false,
        "ioFile": "",
        "useIOForPayload": false,
        "x": 1010,
        "y": 1280,
        "wires": [
            [
                "51efcb73.8866e4"
            ],
            [
                "289ede61.322b92"
            ]
        ]
    },
    {
        "id": "51efcb73.8866e4",
        "type": "function",
        "z": "37c99bfe.954034",
        "name": "elaboration ri",
        "func": "var xr = (msg.payload[0] - flow.get(\"vbatt1\"))/0.02;\nflow.set(\"ri\", xr);\nmsg.payload = [msg.payload[0], flow.get(\"vbatt1\"), xr, flow.get(\"abatt\") ]; \nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "x": 1230,
        "y": 1280,
        "wires": [
            [
                "d57f8169.a4a78"
            ]
        ]
    },
    {
        "id": "495c7c64.115254",
        "type": "modbus-flex-write",
        "z": "37c99bfe.954034",
        "name": "",
        "showStatusActivities": false,
        "showErrors": false,
        "server": "761c9f09.692fa",
        "x": 1010,
        "y": 1340,
        "wires": [
            [],
            [
                "9c3d7ffe.cb1d3"
            ]
        ]
    },
    {
        "id": "289ede61.322b92",
        "type": "function",
        "z": "37c99bfe.954034",
        "name": "FC 6:  restores Iset",
        "func": "msg.payload = { 'value': flow.get(\"iset\"), 'fc': 6, 'unitid': 1, 'address': 9 , 'quantity': 1 };\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 750,
        "y": 1340,
        "wires": [
            [
                "495c7c64.115254"
            ]
        ]
    },
    {
        "id": "d57f8169.a4a78",
        "type": "debug",
        "z": "37c99bfe.954034",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "x": 1450,
        "y": 1260,
        "wires": []
    },
    {
        "id": "cd5e1461.b10d38",
        "type": "comment",
        "z": "37c99bfe.954034",
        "name": "START stuff",
        "info": "",
        "x": 990,
        "y": 840,
        "wires": []
    },
    {
        "id": "ae50f76d.348b88",
        "type": "mysql",
        "z": "37c99bfe.954034",
        "mydb": "746dcf19.ccb99",
        "name": "send record",
        "x": 990,
        "y": 1400,
        "wires": [
            [
                "a8cda3b9.a0aa5"
            ]
        ]
    },
    {
        "id": "9c3d7ffe.cb1d3",
        "type": "function",
        "z": "37c99bfe.954034",
        "name": "query: new record",
        "func": "Date.prototype.yyyymmdd = function() {\n  var yyyy = this.getFullYear();\n  var mm = this.getMonth() < 9 ? \"0\" + (this.getMonth() + 1) : (this.getMonth() + 1); // getMonth() is zero-based\n  var dd = this.getDate() < 10 ? \"0\" + this.getDate() : this.getDate();\n  return \"\".concat(yyyy).concat(mm).concat(dd);\n};\n\nDate.prototype.yyyymmddhhmm = function() {\n  var yyyymmdd = this.yyyymmdd();\n  var hh = this.getHours() < 10 ? \"0\" + this.getHours() : this.getHours();\n  var min = this.getMinutes() < 10 ? \"0\" + this.getMinutes() : this.getMinutes();\n  return \"\".concat(yyyymmdd).concat(hh).concat(min);\n};\n\nvar ts = \"B\"+(new Date().yyyymmddhhmm());\nflow.set(\"tbid\", ts);\nmsg.topic = \"INSERT INTO batteries.battery \";  \n// msg.topic += \"( `timestamp`, `description`, `capacity`, `force`, `r_intern`, `i_charge`)\";\nmsg.topic += \"VALUES ( '\"+ts+\"','\"+flow.get(\"btype\")+\"','\"+flow.get(\"bcap\");\nmsg.topic += \"','\"+flow.get(\"icap\")+\"','\"+flow.get(\"ri\")+\"','\"+flow.get(\"iset\")/1000+\"','\"+flow.get(\"vset\")/100+\"', null, null );\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 750,
        "y": 1400,
        "wires": [
            [
                "ae50f76d.348b88"
            ]
        ]
    },
    {
        "id": "e8545db4.8b44",
        "type": "modbus-flex-write",
        "z": "37c99bfe.954034",
        "name": "",
        "showStatusActivities": false,
        "showErrors": false,
        "server": "761c9f09.692fa",
        "x": 930,
        "y": 1600,
        "wires": [
            [],
            [
                "ba56229f.1c78e"
            ]
        ]
    },
    {
        "id": "a8cda3b9.a0aa5",
        "type": "function",
        "z": "37c99bfe.954034",
        "name": "query: new table",
        "func": "msg.topic = \"CREATE TABLE `batteries`.`\"+flow.get(\"tbid\")+\"` (\";\nmsg.topic += \"`time` INT NOT NULL ,\";\nmsg.topic += \"`v` DECIMAL( 10, 3 ) NOT NULL ,\";\nmsg.topic += \"`i` DECIMAL( 10, 3 ) NOT NULL ,\";\nmsg.topic += \"`t` INT NOT NULL ,\";\nmsg.topic += \"`ah` DECIMAL( 10, 3 ) NOT NULL ,\";\nmsg.topic += \"PRIMARY KEY ( `time` )\";\nmsg.topic += \") ENGINE = INNODB;\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 1240,
        "y": 1400,
        "wires": [
            [
                "d752c72f.bedfb8"
            ]
        ]
    },
    {
        "id": "d752c72f.bedfb8",
        "type": "mysql",
        "z": "37c99bfe.954034",
        "mydb": "746dcf19.ccb99",
        "name": "",
        "x": 1440,
        "y": 1500,
        "wires": [
            []
        ]
    },
    {
        "id": "73277a19.fd1b64",
        "type": "switch",
        "z": "37c99bfe.954034",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "SLOW",
                "vt": "str"
            },
            {
                "t": "neq",
                "v": "SLOW",
                "vt": "str"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 2,
        "x": 330,
        "y": 100,
        "wires": [
            [
                "4ecbf380.5aea1c"
            ],
            [
                "8e597c54.cacd"
            ]
        ]
    },
    {
        "id": "8e597c54.cacd",
        "type": "config",
        "z": "37c99bfe.954034",
        "name": "FAST config",
        "properties": [
            {
                "p": "vset",
                "pt": "flow",
                "to": "300",
                "tot": "num"
            },
            {
                "p": "tmax",
                "pt": "flow",
                "to": "40",
                "tot": "num"
            },
            {
                "p": "smart",
                "pt": "flow",
                "to": "1",
                "tot": "num"
            },
            {
                "p": "timemax",
                "pt": "flow",
                "to": "14400",
                "tot": "str"
            }
        ],
        "active": true,
        "x": 550,
        "y": 140,
        "wires": []
    },
    {
        "id": "783b910b.13982",
        "type": "inject",
        "z": "37c99bfe.954034",
        "name": "time update",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "0.98",
        "crontab": "",
        "once": true,
        "onceDelay": "1",
        "x": 130,
        "y": 160,
        "wires": [
            [
                "425f1365.bd442c"
            ]
        ]
    },
    {
        "id": "a32042aa.e2897",
        "type": "comment",
        "z": "37c99bfe.954034",
        "name": "Mysql commands",
        "info": "loop to store a record every 5 sec.",
        "x": 100,
        "y": 1420,
        "wires": []
    },
    {
        "id": "d01f4a16.39c8d8",
        "type": "mysql",
        "z": "37c99bfe.954034",
        "mydb": "746dcf19.ccb99",
        "name": "update record",
        "x": 1360,
        "y": 1600,
        "wires": [
            []
        ]
    },
    {
        "id": "ba56229f.1c78e",
        "type": "function",
        "z": "37c99bfe.954034",
        "name": "query:  close",
        "func": "var rid = flow.get(\"tbid\");\nvar etime = flow.get(\"cmin\") + \":\"+ flow.get(\"csec\");\n\nmsg.topic = \"UPDATE `batteries`.`battery` SET\";\nmsg.topic +=\" `e_time` = '\"+etime+\"',\";\nmsg.topic +=\" `ah` = '\"+flow.get(\"ahbatt\")+\"' \";\nmsg.topic +=\" WHERE `battery`.`file` = '\"+ rid+\"' \";\nmsg.topic +=\" LIMIT 1\" ;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 1150,
        "y": 1600,
        "wires": [
            [
                "d01f4a16.39c8d8"
            ]
        ]
    },
    {
        "id": "cab41a6.e2022e8",
        "type": "inject",
        "z": "37c99bfe.954034",
        "name": "Mysql data loop",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "5",
        "crontab": "",
        "once": true,
        "onceDelay": "3",
        "x": 150,
        "y": 1500,
        "wires": [
            [
                "c2d870e8.87b8e"
            ]
        ]
    },
    {
        "id": "c2d870e8.87b8e",
        "type": "function",
        "z": "37c99bfe.954034",
        "name": "query: new record",
        "func": "if (flow.get(\"run\")==1) {\nvar rid = flow.get(\"tbid\");\nmsg.topic = \"INSERT INTO `batteries`.`\"+rid+\"`  \";  \nmsg.topic += \"VALUES ( '\"+flow.get(\"esect\").toFixed(0)+\"','\"+flow.get(\"vbatt\").toFixed(3)+\"','\"+flow.get(\"abatt\").toFixed(3);\nmsg.topic += \"','\"+flow.get(\"tbatt\").toFixed(0)+\"','\"+flow.get(\"ahbatt\").toFixed(3)+\"');\";\nreturn msg;\n}",
        "outputs": 1,
        "noerr": 0,
        "x": 710,
        "y": 1500,
        "wires": [
            [
                "d752c72f.bedfb8"
            ]
        ]
    }
]